__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

.env
*.db

.pytest_cache/
.coverage
htmlcov/

.ruff_cache/

workspaces/
!workspaces/_template/

*.pyc
.venv/
venv/
backups/

docker-compose.yml
